*.geojson filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.gpkg filter=lfs diff=lfs merge=lfs -text
base_2024/BR_subdistritos_CD2022.gpkg filter=lfs diff=lfs merge=lfs -text
shape/base_2024/pontos[[:space:]]de[[:space:]]coleta.zip filter=lfs diff=lfs merge=lfs -text
.git/objects/64/0b8f7f829bff1b19cb588d009e28125194dd03 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/bb/78/bb78a8dc60a8320231f6eda79a8c89f68f0e22f0d81608dc051ee505fc72a1e5 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/00/5e/005e5570ae55dcb41795296b9b8989c244487314b3f45abf70b17dbf788d0b79 filter=lfs diff=lfs merge=lfs -text
shape/BR_subdistritos_CD2022.gpkg filter=lfs diff=lfs merge=lfs -text
shape/BR_Municipios_2024.zip filter=lfs diff=lfs merge=lfs -text
shape/pontos[[:space:]]de[[:space:]]coleta.zip filter=lfs diff=lfs merge=lfs -text
shape/BR/BR_RG_Imediatas_2024.zip filter=lfs diff=lfs merge=lfs -text
shape/BR/BR_subdistritos_CD2022.gpkg filter=lfs diff=lfs merge=lfs -text
shape/BR/BR_Municipios_2024.zip filter=lfs diff=lfs merge=lfs -text
Geojson/geodata-br/ filter=lfs diff=lfs merge=lfs -text
